@model HyperDevCase.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAdministration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAdministration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAdress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Companyid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
